@import 'quill/dist/quill.snow.css';
@import 'flatpickr/dist/flatpickr.min.css';
@import 'tailwind.css';

.d-block{
    display: block;
}

.d-none{
    display: none;
}

.disabled-textbox {
    background-color: #f0f0f0;
    color: #777;
    border: 1px solid #ccc;
    cursor: not-allowed;
}
