@page "/reset-password"
@layout Layout.Public.AuthLayout
@using Starter.Blazor.Modules.Dashboard.Services
@using Starter.Blazor.Modules.ResetPassword.Models
@using Starter.Blazor.Modules.ResetPassword.Services
@using Starter.Blazor.Modules.Projects.Models
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
<EditForm Model="@resetPassword" OnValidSubmit="SendResetPassword">
    <DataAnnotationsValidator />

    <div class="main-container min-h-screen text-black dark:text-white-dark">
        <div class="flex min-h-screen items-center justify-center bg-[url('../images/map.svg')] bg-cover bg-center dark:bg-[url('../images/map-dark.svg')]">
            <div class="panel m-6 w-full max-w-lg sm:w-[480px]">
                <h2 class="mb-3 text-2xl font-bold">Reset Password</h2>
                <p class="mb-7">Enter your New Password</p>
                <input type="hidden" @bind="resetPassword.Email" />
                <input type="hidden" @bind="resetPassword.Token" />
                <div>
                    <label for="newpass">Enter New Password</label>
                    <input id="newpass" @bind="resetPassword.NewPassword" type="password" class="form-input" placeholder="Enter new Password" />
                    <ValidationMessage For="@(() => resetPassword.NewPassword)" />
                </div>
                <div>
                    <label for="confpass">Confirm Password</label>
                    <input id="confpass" @bind="resetPassword.ConfirmPassword" type="password" class="form-input" placeholder="Confirm password" />
                    <ValidationMessage For="@(() => resetPassword.ConfirmPassword)" />
                </div>

                <div>
                    <button type="submit" class="btn btn-primary w-full">Reset Password</button>
                </div>

                <p class="text-right">
                    <a href="/" class="font-bold text-primary hover:underline">Back To Login</a>
                </p>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    private string email;
    private string token;
    private string newPassword;
    private string confirmPassword;
    private ResetPasswordDto resetPassword = new ResetPasswordDto();

    [Inject]
    private IResetPasswordService resetPasswordService { get; set; }

    protected override void OnInitialized()
    {
        var uri = new Uri(Navigation.Uri);
        resetPassword.Email = uri.Query.Split("&").FirstOrDefault(param => param.Contains("email"));
        resetPassword.Token = uri.Query.Split("&").FirstOrDefault(param => param.Contains("token"));

        if (!string.IsNullOrEmpty(resetPassword.Email))
        {
            resetPassword.Email = Uri.UnescapeDataString(resetPassword.Email.Split("=")[1]);
        }

        if (!string.IsNullOrEmpty(resetPassword.Token))
        {

            //var tokenParam = Navigation.ToAbsoluteUri(Navigation.Uri).Query.Split("&").FirstOrDefault(param => param.Contains("token"));
            resetPassword.Token = Uri.UnescapeDataString(resetPassword.Token?.Split("=")[1]);
        }
    }

    private async Task SendResetPassword()
    {
        try
        {
            var result = await resetPasswordService.ResetPasswordAsync(resetPassword);
            if (result.Success)
            {
                await JSRuntime.InvokeVoidAsync("showSuccessAlert");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("showErrorAlert", string.Join(", ", result.Messages));
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error resetting password: {ex.Message}");
        }
    }

}
<script>
    function showSuccessAlert() {
        new window.Swal({
            icon: 'success',
            text: 'Password Reset Successfully.',
            padding: '2em',
        });
    }
    function showErrorAlert(errorMessage) {
        new window.Swal({
            icon: 'error',
            title: 'Error!',
            text: 'Failed to Reset Password',
            padding: '2em',
        });
    }
</script>