<div [ngClass]="isSubmit ? (control.errors ? 'has-error' : '') : ''">
  <select
    class="form-select"
    [disabled]="disable"
    [(ngModel)]="value"
    (change)="onSelectOption($event)"
  >
    <option value="">
      {{ defaultOptions }}
    </option>
    @for (option of options; track option) {
      <option [value]="option.value">
        {{ option.label }}
      </option>
    }
  </select>
  @if (isSubmit && control.errors?.["required"]) {
    <p class="mt-1 text-danger">This can not be empty</p>
  }
</div>
