<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Starter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css" />
    
</head>

<body x-data="main"
      class="relative overflow-x-hidden font-nunito text-sm font-normal antialiased"
      :class="[ $store.app.sidebar ? 'toggle-sidebar' : '', $store.app.theme === 'dark' || $store.app.isDarkMode ?  'dark' : '', $store.app.menu, $store.app.layout,$store.app.rtlClass]">
 
    <div class="main-container min-h-screen text-black dark:text-white-dark">
        <!-- start main content section -->
        <div class="flex min-h-screen items-center justify-center bg-gradient-to-t from-[#c39be3] to-[#f2eafa]">
            <div class="p-5 text-center font-semibold">
                <h2 class="mb-8 text-[50px] font-bold leading-none md:text-[80px]">Error 404</h2>
                <h4 class="mb-5 text-xl font-semibold text-primary sm:text-5xl">Ooops!</h4>
                <p class="text-base">The page you requested was not found!</p>
                <a href="/" class="btn btn-primary mx-auto mt-10 w-max">Home</a>
            </div>
        </div>
        <!-- end main content section -->
    </div>
</body>
</html>
