<div
  class="flex min-h-screen items-center justify-center bg-[url('/assets/images/map.svg')] bg-cover bg-center dark:bg-[url('/assets/images/map-dark.svg')]"
>
  <div class="panel m-6 w-full max-w-lg sm:w-[480px]">
    <h2 class="mb-3 text-2xl font-bold">Set New Password</h2>
    <form
      class="space-y-5"
      [formGroup]="formResetPassword"
      (ngSubmit)="submitFormResetPassword()"
      novalidate
    >
      <div>
        <label for="password">Password</label>
        <app-input
          formControlName="password"
          type="password"
          [control]="formResetPassword.controls['password']"
          [isSubmit]="isSubmitFormResetPassword"
          placeholder="Enter Password"
        ></app-input>
      </div>
      <div
        [ngClass]="{
          'has-error':
            isSubmitFormResetPassword &&
            formResetPassword.errors?.['passwordMismatch'] &&
            formResetPassword.controls['cpassword'].value
        }"
      >
        <label for="password">Confirm Password</label>
        <app-input
          formControlName="cpassword"
          type="password"
          [control]="formResetPassword.controls['cpassword']"
          [isSubmit]="isSubmitFormResetPassword"
          placeholder="Enter Confirm Password"
        ></app-input>
        @if (
          isSubmitFormResetPassword &&
          formResetPassword.errors?.["passwordMismatch"] &&
          formResetPassword.controls["cpassword"].value
        ) {
          <p class="mt-1 text-danger">Password do not match.</p>
        }
      </div>
      <app-button
        text="RESET PASSWORD"
        type="submit"
        classes="btn-primary w-full"
        class="d-block"
      ></app-button>
    </form>
    <div
      style="margin-top: 1rem; margin-bottom: 1rem"
      class="relative h-5 text-center before:absolute before:inset-0 before:m-auto before:h-[1px] before:w-full before:bg-[#ebedf2] dark:before:bg-[#253b5c]"
    ></div>
    <p class="text-center">
      Back to
      <app-anchor
        text="Sign In"
        [routerLink]="signinRoute"
        classes="font-bold text-primary"
      ></app-anchor>
    </p>
  </div>
</div>
