<h3>Logout</h3>

@code {
    // private async Task Logout()
    // {
    //     await LocalStorage.RemoveItemAsync("authToken");
    //     await CartService.GetCartItemsCount();
    //     await AuthenticationStateProvider.GetAuthenticationStateAsync();
    //     NavigationManager.NavigateTo("");
    // }
}
