@page "/forgotpassword"
@layout Layout.Public.AuthLayout
@using Starter.Blazor.Modules.ForgotPassword.Pages
@using Starter.Blazor.Modules.ForgotPassword.Models
@using Starter.Blazor.Modules.ForgotPassword.Services
@inject IJSRuntime JSRuntime

<div class="main-container min-h-screen text-black dark:text-white-dark">

    <div class="flex min-h-screen items-center justify-center bg-[url('../images/map.svg')] bg-cover bg-center dark:bg-[url('../images/map-dark.svg')]">
        <div class="panel m-6 w-full max-w-lg sm:w-[480px]">
            <h2 class="mb-3 text-2xl font-bold">Forgot Password</h2>
            <p class="mb-7">Enter your email to recover your Password</p>
            <form class="space-y-5" @onsubmit="SendForgotPasswordRequest">
                <div>
                    <label for="email">Email</label>
                    <input id="email" @bind-value="Email" type="email" class="form-input" placeholder="Enter Email" />

                </div>
                <div>
                    <button type="submit" class="btn btn-primary w-full">Send Request</button>
                </div>

                <p class="text-right">
                    <a href="/" class="font-bold text-primary hover:underline">Back To Login</a>
                </p>
            </form>
        </div>
    </div>

</div>
@code
{
    private string Email;
    private ForgotPasswordDto forgotPassword = new ForgotPasswordDto();

    private async Task SendForgotPasswordRequest()
    {
        var forgotPassword = new ForgotPasswordDto
            {
                Email = Email
            };
        try
        {

            var result = await passwordservice.ForgotPasswordAsync(forgotPassword);

            Console.WriteLine($"Mail Send Successfully  {forgotPassword}");
            await JSRuntime.InvokeVoidAsync("showSuccessAlert");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            await JSRuntime.InvokeVoidAsync("showErrorAlert", ex.Message);
        }
    }

    [Inject]
    private IForgotPasswordService passwordservice { get; set; }

}
<script>
    function showSuccessAlert() {
        new window.Swal({
            icon: 'success',
            title: 'Mail Sent Successfully!',
            text: 'Your reset password request has been sent successfully.',
            padding: '2em',
        });
    }
    function showErrorAlert(errorMessage) {
        new window.Swal({
            icon: 'error',
            title: 'Error!',
            text: 'Failed to send reset link',
            padding: '2em',
        });
    }
</script>