<div [ngClass]="{ 'dark text-white-dark': store.semidark }">
  <nav
    class="sidebar fixed top-0 bottom-0 z-50 h-full min-h-screen w-[260px] shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-all duration-300"
  >
    <div class="h-full bg-white dark:bg-[#0e1726]">
      <div class="flex items-center justify-between px-4 py-3">
        <a routerLink="/" class="main-logo flex shrink-0 items-center">
          <img
            class="ml-[5px] w-8 flex-none"
            src="/assets/images/logo.svg"
            alt=""
          />
          <span
            class="align-middle text-2xl font-semibold ltr:ml-1.5 rtl:mr-1.5 dark:text-white-light lg:inline"
            >VRISTO</span
          >
        </a>
        <a
          href="javascript:;"
          class="collapse-icon flex h-8 w-8 items-center rounded-full transition duration-300 hover:bg-gray-500/10 hover:text-primary rtl:rotate-180 dark:text-white-light dark:hover:bg-dark-light/10"
          (click)="storeData.dispatch({ type: 'toggleSidebar'})"
        >
          <svg
            class="m-auto h-5 w-5"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13 19L7 12L13 5"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              opacity="0.5"
              d="M16.9998 19L10.9998 12L16.9998 5"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <ng-scrollbar class="relative !h-[calc(100vh-80px)]" appearance="compact">
        <ul class="relative space-y-0.5 p-4 py-0 font-semibold">
          <h2
            class="-mx-4 mb-1 flex items-center bg-white-light/30 py-3 px-7 font-extrabold uppercase dark:bg-dark dark:bg-opacity-[0.08]"
          >
            <svg
              class="hidden h-5 w-4 flex-none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="1.5"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
            <span>{{ ('apps' | translate) || '&nbsp;' }}</span>
          </h2>
          <li class="nav-item">
            <ul>
              <li class="nav-item">
                <a
                  [routerLink]="routes.todo"
                  class="group"
                  routerLinkActive="active"
                  (click)="toggleMobileMenu()"
                >
                  <div class="flex items-center">
                    <svg
                      class="shrink-0 group-hover:!text-primary"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        opacity="0.5"
                        d="M3 10C3 6.22876 3 4.34315 4.17157 3.17157C5.34315 2 7.22876 2 11 2H13C16.7712 2 18.6569 2 19.8284 3.17157C21 4.34315 21 6.22876 21 10V14C21 17.7712 21 19.6569 19.8284 20.8284C18.6569 22 16.7712 22 13 22H11C7.22876 22 5.34315 22 4.17157 20.8284C3 19.6569 3 17.7712 3 14V10Z"
                        fill="currentColor"
                      />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12 5.25C12.4142 5.25 12.75 5.58579 12.75 6V7.25H14C14.4142 7.25 14.75 7.58579 14.75 8C14.75 8.41421 14.4142 8.75 14 8.75L12.75 8.75L12.75 10C12.75 10.4142 12.4142 10.75 12 10.75C11.5858 10.75 11.25 10.4142 11.25 10L11.25 8.75H9.99997C9.58575 8.75 9.24997 8.41421 9.24997 8C9.24997 7.58579 9.58575 7.25 9.99997 7.25H11.25L11.25 6C11.25 5.58579 11.5858 5.25 12 5.25ZM7.25 14C7.25 13.5858 7.58579 13.25 8 13.25H16C16.4142 13.25 16.75 13.5858 16.75 14C16.75 14.4142 16.4142 14.75 16 14.75H8C7.58579 14.75 7.25 14.4142 7.25 14ZM8.25 18C8.25 17.5858 8.58579 17.25 9 17.25H15C15.4142 17.25 15.75 17.5858 15.75 18C15.75 18.4142 15.4142 18.75 15 18.75H9C8.58579 18.75 8.25 18.4142 8.25 18Z"
                        fill="currentColor"
                      />
                    </svg>

                    <span
                      class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark"
                      >{{ 'todo_list' | translate }}</span
                    >
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </ng-scrollbar>
    </div>
  </nav>
</div>
