<div hlMenu class="dropdown">
  <button
    type="button"
    hlMenuButton
    class="btn btn-sm btn-outline-primary dropdown-toggle"
  >
    {{ text }}
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="inline-block h-4 w-4 ltr:ml-1 rtl:mr-1"
    >
      <path
        d="M19 9L12 15L5 9"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
  <ul
    *hlMenuItems
    @toggleAnimation
    class="whitespace-nowrap ltr:right-0 rtl:left-0"
  >
    @for (col of cols; track col; let i = $index) {
      <li>
        <a
          (click)="col.disable ? null : onSelect(col)"
          href="javascript:;"
          *hlMenuItem="let menuItem"
          >{{ col.text }}</a
        >
      </li>
    }
  </ul>
</div>
