@inherits LayoutComponentBase

<PageTitle>Starter</PageTitle>

<div class="cotainer">
    <main>

        @* <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        *@
        <article class="d-flex justify-content-center align-items-center">
            @Body
        </article>
    </main>
</div>