@page "/task-list"
@using Starter.Blazor.Modules.Task.Model
@inject IJSRuntime JSRuntime

<div>
    <div class="relative flex h-full gap-5 sm:h-[calc(100vh_-_150px)]">
        <div class="panel h-full flex-1 overflow-auto p-0">
            <div class="flex h-full flex-col">
                <div class="flex w-full flex-col gap-4 p-4 sm:flex-row sm:items-center">
                    <div class="flex items-center ltr:mr-3 rtl:ml-3">
                        <div class="group relative flex-1 mr-3">
                            <button class="btn btn-primary w-full" type="button" @onclick="@(() => Modal.Show<CreateTaskModel>("Add New Task"))">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5 shrink-0 ltr:mr-2 rtl:ml-2">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                                Add New Task
                            </button>
                        </div>
                        @* <button @onclick="@(() => Modal.Show<CreateTaskModel>("Add Task"))">View Movies</button> *@
                        <button type="button"
                                class="block hover:text-primary ltr:mr-3 rtl:ml-3 xl:hidden"
                                @click="isShowTaskMenu = !isShowTaskMenu">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6">
                                <path d="M20 7L4 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                <path opacity="0.5" d="M20 12L4 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M20 17L4 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                        </button>
                        <div class="group relative flex-1">
                            <input type="text"
                                   class="peer form-input ltr:!pr-10 rtl:!pl-10"
                                   placeholder="Search Task..." />
                            <div class="absolute top-1/2 -translate-y-1/2 peer-focus:text-primary ltr:right-[11px] rtl:left-[11px]">
                                <svg width="24"
                                     height="24"
                                     viewBox="0 0 24 24"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg"
                                     class="h-4 w-4">
                                    <circle cx="11.5" cy="11.5" r="9.5" stroke="currentColor" stroke-width="1.5" opacity="0.5"></circle>
                                    <path d="M18.5 18.5L22 22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-1 items-center justify-center sm:flex-auto sm:justify-end">
                        <p class="ltr:mr-3 rtl:ml-3"></p>
                        <button type="button"
                                class="rounded-md bg-[#f4f4f4] p-1 enabled:hover:bg-primary-light disabled:cursor-not-allowed disabled:opacity-60 ltr:mr-3 rtl:ml-3 dark:bg-white-dark/20 enabled:dark:hover:bg-white-dark/30"
                                >
                            <svg width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 class="h-5 w-5 rtl:rotate-180">
                                <path d="M15 5L9 12L15 19"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </button>
                        <button type="button"
                                class="rounded-md bg-[#f4f4f4] p-1 enabled:hover:bg-primary-light disabled:cursor-not-allowed disabled:opacity-60 dark:bg-white-dark/20 enabled:dark:hover:bg-white-dark/30"
                                >
                            <svg width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 class="h-5 w-5 ltr:rotate-180">
                                <path d="M15 5L9 12L15 19"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="h-px w-full border-b border-[#e0e6ed] dark:border-[#1b2e4b]"></div>
            </div>
        </div>

        <div class="fixed inset-0 z-[999] hidden overflow-y-auto bg-[black]/60 px-4">
            <div class="flex min-h-screen items-center justify-center">
                <div 
                     x-transition
                     x-transition.duration.300
                     
                     class="panel my-8 w-[90%] max-w-lg overflow-hidden rounded-lg border-0 p-0 md:w-full">
                    <button type="button"
                            class="absolute top-4 text-white-dark hover:text-dark ltr:right-4 rtl:left-4"
                           >
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24px"
                             height="24px"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="1.5"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             class="h-6 w-6">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                    <div class="bg-[#fbfbfb] py-3 text-lg font-medium ltr:pl-5 ltr:pr-[50px] rtl:pr-5 rtl:pl-[50px] dark:bg-[#121c2c]"
                        ></div>
                    <div class="p-5">
                        <form>
                            <div class="mb-5">
                                <label for="title">Title</label>
                                <input id="title" type="text" placeholder="Enter Task Title" class="form-input" />
                            </div>
                            <div class="mb-5">
                                <label for="assignee">Assignee</label>
                                <select id="assignee" class="form-select" >
                                    <option value="">Select Assignee</option>
                                    <option value="John Smith">John Smith</option>
                                    <option value="Kia Vega">Kia Vega</option>
                                    <option value="Sandy Doe">Sandy Doe</option>
                                    <option value="Jane Foster">Jane Foster</option>
                                    <option value="Donna Frank">Donna Frank</option>
                                </select>
                            </div>
                            <div class="mb-5 flex justify-between gap-4">
                                <div class="flex-1">
                                    <label for="tag">Tag</label>
                                    <select id="tag" class="form-select">
                                        <option value="">Select Tag</option>
                                        <option value="team">Team</option>
                                        <option value="update">Update</option>
                                    </select>
                                </div>
                                <div class="flex-1">
                                    <label for="priority">Priority</label>
                                    <select id="priority" class="form-select">
                                        <option value="">Select Priority</option>
                                        <option value="low">Low</option>
                                        <option value="medium">Medium</option>
                                        <option value="high">High</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-5">
                                <label>Description</label>
                                <div x-ref="editor"></div>
                            </div>
                            <div class="mt-8 flex items-center justify-end ltr:text-right rtl:text-left">
                                <button type="button" class="btn btn-outline-danger" >Cancel</button>
                                <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">
                                    Add
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="fixed inset-0 z-[999] hidden overflow-y-auto bg-[black]/60">
            <div class="flex min-h-screen items-center justify-center px-4">
                <div class="panel my-8 w-[90%] max-w-lg overflow-hidden rounded-lg border-0 p-0 md:w-full">
                    <button type="button"
                            class="absolute top-4 text-white-dark hover:text-dark ltr:right-4 rtl:left-4"
                            >
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24px"
                             height="24px"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="1.5"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             class="h-6 w-6">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                    <div class="flex flex-wrap items-center gap-2 bg-[#fbfbfb] py-3 text-lg font-medium ltr:pl-5 ltr:pr-[50px] rtl:pr-5 rtl:pl-[50px] dark:bg-[#121c2c]">
                        <div ></div>
                        <div class="badge rounded-3xl capitalize"
                             ></div>

                        <div class="badge rounded-3xl capitalize"></div>
                    </div>
                    <div class="p-5">
                        <div class="prose text-base"></div>

                        <div class="mt-8 flex items-center justify-end">
                            <button type="button" class="btn btn-outline-danger" >Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [CascadingParameter] public IModalService Modal { get; set; }


}
