<modal
  #modalComponent
  class="modal-center animate animate-fade-in"
  (onCancel)="resetForm()"
  [closeOnOutsideClick]="false"
>
  <ng-template #modalHeader> <div>Change Pasword</div> </ng-template>
  <ng-template #modalBody>
    <form class="space-y-5" [formGroup]="formChangePassword" novalidate (keydown.enter)="submitFormChangePassword()">
      <div>
        <label for="password">Current Password</label>
        <app-input
          formControlName="currentPassword"
          type="password"
          [control]="formChangePassword.controls['currentPassword']"
          [isSubmit]="isSubmitFormChangePassword"
          placeholder="Enter Current Password"
        ></app-input>
      </div>
      <div>
        <label for="password">New Password</label>
        <app-input
          formControlName="newPassword"
          type="password"
          [control]="formChangePassword.controls['newPassword']"
          [isSubmit]="isSubmitFormChangePassword"
          placeholder="Enter New Password"
        ></app-input>
      </div>
      <div
        [ngClass]="{
          'has-error':
            isSubmitFormChangePassword &&
            formChangePassword.errors?.['passwordMismatch'] &&
            formChangePassword.controls['confirmPassword'].value
        }"
      >
        <label for="password">Confirm New Password</label>
        <app-input
          formControlName="confirmPassword"
          type="password"
          [control]="formChangePassword.controls['confirmPassword']"
          [isSubmit]="isSubmitFormChangePassword"
          placeholder="Enter Confirm Password"
        ></app-input>
        @if (
          isSubmitFormChangePassword &&
          formChangePassword.errors?.["passwordMismatch"] &&
          formChangePassword.controls["confirmPassword"].value
        ) {
          <p class="mt-1 text-danger">Password do not match.</p>
        }
      </div>
    </form>
  </ng-template>
  <ng-template #modalFooter>
    <button
      type="button"
      (click)="resetForm(); modalComponent.close()"
      class="btn btn-outline-danger"
    >
      Discard
    </button>
    <app-button
      text="Save"
      type="submit"
      classes="btn-primary ltr:ml-4 rtl:mr-4"
      class="d-block"
      (click)="submitFormChangePassword()"
    ></app-button>
  </ng-template>
</modal>
